<%- include("../partials/admin/header")%>
<%- include("../partials/admin/side")%>

<div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-md-12 grid-margin">
          <div class="row">
            <div class="col-12 col-xl-8 mb-4 mb-xl-0">
              <h3 class="font-weight-bold">Welcome</h3>
              <h6 class="font-weight-normal mb-0">All systems are running smoothly! <span class="text-primary"></span></h6>
            </div>
           
          </div>
        </div>
      </div>
      <div class="row">
        
        <div class="col-md-6 grid-margin transparent">
          <div class="row">
            <div class="col-md-6 mb-4 stretch-card transparent">
              <div class="card card-tale">
                <div class="card-body">
                  <p class="mb-4">Today’s Order</p>
                  <p class="fs-30 mb-2"><%=todaysOrders%></p>
                  
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-4 stretch-card transparent">
              <div class="card card-dark-blue">
                <div class="card-body">
                  <p class="mb-4">This Month Delivered Orders</p>
                  <p class="fs-30 mb-2"><%=thisMonthsDeliveredOrders%></p>
                
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
              <div class="card card-light-blue">
                <div class="card-body">
                  <p class="mb-4">This Month Total Revenue</p>
                  <p class="fs-30 mb-2">Rs <%=thisMonthsTotalRevenue%></p>
                
                </div>
              </div>
            </div>
            <div class="col-md-6 stretch-card transparent">
              <div class="card card-light-danger">
                <div class="card-body">
                  <p class="mb-4">Number of Users In This Month</p>
                  <p class="fs-30 mb-2"><%=totalCustomersThisMonth%></p>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
             <div class="d-flex justify-content-between">
              <p class="card-title">Most selling product and category</p>
             </div>
              <!-- <p class="font-weight-500">The total number of sessions within the date range. It is the period time a user is actively engaged with your website, page or app, etc</p> -->
              <div id="sales-legend" class="chartjs-legend mt-4 mb-2"></div>
              <canvas id="sales-chart"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
          <div class="card position-relative">
            <div class="card-body">
              <div id="detailedReports" class="carousel slide detailed-report-carousel position-static pt-2" data-ride="carousel">
                <!-- <div class="carousel-inner"> -->
                  <!-- <div class="carousel-item active"> -->
                    <div class="row">
                      
                        <!-- graph -->


                      <div class="col-md-12 col-xl-9">
                        <div class="row">
                          <div class="col-md-6 grid-margin stretch-card mb-4">
                            <div class="card">
                              <div class="card-body">
                                <h4 class="card-title">Monthly Sales</h4>
                                <div class="chart-container" style="height: 300px;">
                                  <canvas id="monthlySalesChart"></canvas>
                                </div>
                              </div>
                            </div>
                          </div>
                          
                          <div class="col-md-6 mt-3">
                            <canvas id="north-america-chart"></canvas>
                            <div id="north-america-legend"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  <!-- </div> -->
                 
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-md-7 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <p class="card-title mb-0">Top Products</p>
              <div class="table-responsive">
                <table class="table table-striped table-borderless">
                  <thead>
                    <tr>
                      <th>Product</th>
                      <th>Price</th>
                      <th>Date</th>
                      <th>Status</th>
                    </tr>  
                  </thead>
                  <tbody>
                    <tr>
                      <td>Search Engine Marketing</td>
                      <td class="font-weight-bold">$362</td>
                      <td>21 Sep 2018</td>
                      <td class="font-weight-medium"><div class="badge badge-success">Completed</div></td>
                    </tr>
                    <tr>
                      <td>Search Engine Optimization</td>
                      <td class="font-weight-bold">$116</td>
                      <td>13 Jun 2018</td>
                      <td class="font-weight-medium"><div class="badge badge-success">Completed</div></td>
                    </tr>
                    <tr>
                      <td>Display Advertising</td>
                      <td class="font-weight-bold">$551</td>
                      <td>28 Sep 2018</td>
                      <td class="font-weight-medium"><div class="badge badge-warning">Pending</div></td>
                    </tr>
                    <tr>
                      <td>Pay Per Click Advertising</td>
                      <td class="font-weight-bold">$523</td>
                      <td>30 Jun 2018</td>
                      <td class="font-weight-medium"><div class="badge badge-warning">Pending</div></td>
                    </tr>
                    <tr>
                      <td>E-Mail Marketing</td>
                      <td class="font-weight-bold">$781</td>
                      <td>01 Nov 2018</td>
                      <td class="font-weight-medium"><div class="badge badge-danger">Cancelled</div></td>
                    </tr>
                    <tr>
                      <td>Referral Marketing</td>
                      <td class="font-weight-bold">$283</td>
                      <td>20 Mar 2018</td>
                      <td class="font-weight-medium"><div class="badge badge-warning">Pending</div></td>
                    </tr>
                    <tr>
                      <td>Social media marketing</td>
                      <td class="font-weight-bold">$897</td>
                      <td>26 Oct 2018</td>
                      <td class="font-weight-medium"><div class="badge badge-success">Completed</div></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">To Do Lists</h4>
                                <div class="list-wrapper pt-2">
                                    <ul class="d-flex flex-column-reverse todo-list todo-list-custom">
                                        <li>
                                            <div class="form-check form-check-flat">
                                                <label class="form-check-label">
                                                    <input class="checkbox" type="checkbox">
                                                    Meeting with Urban Team
                                                </label>
                                            </div>
                                            <i class="remove ti-close"></i>
                                        </li>
                                        <li class="completed">
                                            <div class="form-check form-check-flat">
                                                <label class="form-check-label">
                                                    <input class="checkbox" type="checkbox" checked>
                                                    Duplicate a project for new customer
                                                </label>
                                            </div>
                                            <i class="remove ti-close"></i>
                                        </li>
                                        <li>
                                            <div class="form-check form-check-flat">
                                                <label class="form-check-label">
                                                    <input class="checkbox" type="checkbox">
                                                    Project meeting with CEO
                                                </label>
                                            </div>
                                            <i class="remove ti-close"></i>
                                        </li>
                                        <li class="completed">
                                            <div class="form-check form-check-flat">
                                                <label class="form-check-label">
                                                    <input class="checkbox" type="checkbox" checked>
                                                    Follow up of team zilla
                                                </label>
                                            </div>
                                            <i class="remove ti-close"></i>
                                        </li>
                                        <li>
                                            <div class="form-check form-check-flat">
                                                <label class="form-check-label">
                                                    <input class="checkbox" type="checkbox">
                                                    Level up for Antony
                                                </label>
                                            </div>
                                            <i class="remove ti-close"></i>
                                        </li>
                                    </ul>
              </div>
              <div class="add-items d-flex mb-0 mt-2">
                                    <input type="text" class="form-control todo-list-input"  placeholder="Add new task">
                                    <button class="add btn btn-icon text-primary todo-list-add-btn bg-transparent"><i class="icon-circle-plus"></i></button>
                                </div>
                            </div>
                        </div>
        </div>
      </div> -->
      <!-- <div class="row">
        <div class="col-md-4 stretch-card grid-margin">
          <div class="card">
            <div class="card-body">
              <p class="card-title mb-0">Projects</p>
              <div class="table-responsive">
                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th class="pl-0  pb-2 border-bottom">Places</th>
                      <th class="border-bottom pb-2">Orders</th>
                      <th class="border-bottom pb-2">Users</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="pl-0">Kentucky</td>
                      <td><p class="mb-0"><span class="font-weight-bold mr-2">65</span>(2.15%)</p></td>
                      <td class="text-muted">65</td>
                    </tr>
                    <tr>
                      <td class="pl-0">Ohio</td>
                      <td><p class="mb-0"><span class="font-weight-bold mr-2">54</span>(3.25%)</p></td>
                      <td class="text-muted">51</td>
                    </tr>
                    <tr>
                      <td class="pl-0">Nevada</td>
                      <td><p class="mb-0"><span class="font-weight-bold mr-2">22</span>(2.22%)</p></td>
                      <td class="text-muted">32</td>
                    </tr>
                    <tr>
                      <td class="pl-0">North Carolina</td>
                      <td><p class="mb-0"><span class="font-weight-bold mr-2">46</span>(3.27%)</p></td>
                      <td class="text-muted">15</td>
                    </tr>
                    <tr>
                      <td class="pl-0">Montana</td>
                      <td><p class="mb-0"><span class="font-weight-bold mr-2">17</span>(1.25%)</p></td>
                      <td class="text-muted">25</td>
                    </tr>
                    <tr>
                      <td class="pl-0">Nevada</td>
                      <td><p class="mb-0"><span class="font-weight-bold mr-2">52</span>(3.11%)</p></td>
                      <td class="text-muted">71</td>
                    </tr>
                    <tr>
                      <td class="pl-0 pb-0">Louisiana</td>
                      <td class="pb-0"><p class="mb-0"><span class="font-weight-bold mr-2">25</span>(1.32%)</p></td>
                      <td class="pb-0">14</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title">Charts</p>
                  <div class="charts-data">
                    <div class="mt-3">
                      <p class="mb-0">Data 1</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="progress progress-md flex-grow-1 mr-4">
                          <div class="progress-bar bg-inf0" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="mb-0">5k</p>
                      </div>
                    </div>
                    <div class="mt-3">
                      <p class="mb-0">Data 2</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="progress progress-md flex-grow-1 mr-4">
                          <div class="progress-bar bg-info" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="mb-0">1k</p>
                      </div>
                    </div>
                    <div class="mt-3">
                      <p class="mb-0">Data 3</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="progress progress-md flex-grow-1 mr-4">
                          <div class="progress-bar bg-info" role="progressbar" style="width: 48%" aria-valuenow="48" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="mb-0">992</p>
                      </div>
                    </div>
                    <div class="mt-3">
                      <p class="mb-0">Data 4</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="progress progress-md flex-grow-1 mr-4">
                          <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="mb-0">687</p>
                      </div>
                    </div>
                  </div>  
                </div>
              </div>
            </div>
            <div class="col-md-12 stretch-card grid-margin grid-margin-md-0">
              <div class="card data-icon-card-primary">
                <div class="card-body">
                  <p class="card-title text-white">Number of Meetings</p>                      
                  <div class="row">
                    <div class="col-8 text-white">
                      <h3>34040</h3>
                      <p class="text-white font-weight-500 mb-0">The total number of sessions within the date range.It is calculated as the sum . </p>
                    </div>
                    <div class="col-4 background-icon">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
          <div class="card">
            <div class="card-body">
              <p class="card-title">Notifications</p>
              <ul class="icon-data-list">
                <li>
                  <div class="d-flex">
                    <img src="images/faces/face1.jpg" alt="user">
                    <div>
                      <p class="text-info mb-1">Isabella Becker</p>
                      <p class="mb-0">Sales dashboard have been created</p>
                      <small>9:30 am</small>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="d-flex">
                    <img src="images/faces/face2.jpg" alt="user">
                    <div>
                      <p class="text-info mb-1">Adam Warren</p>
                      <p class="mb-0">You have done a great job #TW111</p>
                      <small>10:30 am</small>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="d-flex">
                  <img src="images/faces/face3.jpg" alt="user">
                 <div>
                  <p class="text-info mb-1">Leonard Thornton</p>
                  <p class="mb-0">Sales dashboard have been created</p>
                  <small>11:30 am</small>
                 </div>
                  </div>
                </li>
                <li>
                  <div class="d-flex">
                    <img src="images/faces/face4.jpg" alt="user">
                    <div>
                      <p class="text-info mb-1">George Morrison</p>
                      <p class="mb-0">Sales dashboard have been created</p>
                      <small>8:50 am</small>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="d-flex">
                    <img src="images/faces/face5.jpg" alt="user">
                    <div>
                    <p class="text-info mb-1">Ryan Cortez</p>
                    <p class="mb-0">Herbs are fun and easy to grow.</p>
                    <small>9:00 am</small>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div> -->
      <!-- <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <p class="card-title">Advanced Table</p>
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <table id="example" class="display expandable-table" style="width:100%">
                      <thead>
                        <tr>
                          <th>Quote#</th>
                          <th>Product</th>
                          <th>Business type</th>
                          <th>Policy holder</th>
                          <th>Premium</th>
                          <th>Status</th>
                          <th>Updated at</th>
                          <th></th>
                        </tr>
                      </thead>
                  </table>
                  </div>
                </div>
              </div>
              </div>
            </div>

            
          </div>
        </div> -->
    </div>

    <%- include("../partials/admin/footer") %>

    <script>

const firstProduct = '<%= mostSoldProducts[0]?.totalSold || 0; %>'
const secproduct = "<%= mostSoldProducts[1]?.totalSold || 0; %>"
const thirdpro = '<%= mostSoldProducts[2]?.totalSold || 0; %>'

//to find max value for graph
const maxTotalSold = Math.max(firstProduct, secproduct, thirdpro);




       if ($("#sales-chart").length) {
      var SalesChartCanvas = $("#sales-chart").get(0).getContext("2d");
      var SalesChart = new Chart(SalesChartCanvas, {
        type: 'bar',
        data: {
          labels: ["<%= mostSoldProducts[0].productName.substring(0, 10) + '...' %>", "<%= mostSoldProducts[1].productName.substring(0, 10) + '...' %>", "<%= mostSoldProducts[2].productName.substring(0, 10) + '...' %>"],
          datasets: [{
              label: 'product',
              data: [firstProduct, secproduct, thirdpro],
              backgroundColor: '#98BDFF'
            },
            {
              // label: 'category',
              // data: [0, 0, 0],
              // backgroundColor: '#4B49AC'
            }
          ]
        },
        options: {
          cornerRadius: 5,
          responsive: true,
          maintainAspectRatio: true,
          layout: {
            padding: {
              left: 0,
              right: 0,
              top: 20,
              bottom: 0
            }
          },
          scales: {
            yAxes: [{
              display: true,
              gridLines: {
                display: true,
                drawBorder: false,
                color: "#F2F2F2"
              },
              ticks: {
                display: true,
                min: 0,
                max: maxTotalSold*2,
                callback: function(value, index, values) {
                  return  value + '$' ;
                },
                autoSkip: true,
                maxTicksLimit: 10,
                fontColor:"#6C7383"
              }
            }],
            xAxes: [{
              stacked: false,
              ticks: {
                beginAtZero: true,
                fontColor: "#6C7383"
              },
              gridLines: {
                color: "rgba(0, 0, 0, 0)",
                display: false
              },
              barPercentage: 1
            }]
          },
          legend: {
            display: false
          },
          elements: {
            point: {
              radius: 0
            }
          }
        },
      });
      document.getElementById('sales-legend').innerHTML = SalesChart.generateLegend();
    }
    </script>
    
    <script>

const monthlySalesData = {
    labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'], // Add labels for each month
    datasets: [{
      label: 'Monthly Sales',
      data: [
        '<%= monthlyOrderCountsCurrentYear[0] %>',
        '<%= monthlyOrderCountsCurrentYear[1] %>',
        '<%= monthlyOrderCountsCurrentYear[2] %>',
        '<%= monthlyOrderCountsCurrentYear[3] %>',
        '<%= monthlyOrderCountsCurrentYear[4] %>',
        '<%= monthlyOrderCountsCurrentYear[5] %>',
        '<%= monthlyOrderCountsCurrentYear[6] %>',
        '<%= monthlyOrderCountsCurrentYear[7] %>',
        '<%= monthlyOrderCountsCurrentYear[8] %>',
        '<%= monthlyOrderCountsCurrentYear[9] %>',
        '<%= monthlyOrderCountsCurrentYear[10] %>',
        '<%= monthlyOrderCountsCurrentYear[11] %>',
      ],
      backgroundColor: 'rgba(75, 192, 192, 0.2)',
      borderColor: 'rgba(75, 192, 192, 1)',
      borderWidth: 1,
    }],
  };


        function renderMonthlySalesChart() {
    const ctx = document.getElementById('monthlySalesChart').getContext('2d');
    new Chart(ctx, {
      type: 'bar',
      data: monthlySalesData,
      options: {
        scales: {
          y: {
            beginAtZero: true,
          },
        },
      },
    });
  }
  renderMonthlySalesChart();
    </script>

    <script>

const codCount = '<%= paymentMethods.cod ?paymentMethods.cod: 0  %>'
  const wltCount = '<%= paymentMethods.wlt ?paymentMethods.wlt: 0  %>'
  const rzpCount = '<%= paymentMethods.Razorepay ?paymentMethods.Razorepay: 0  %>'


      if ($("#north-america-chart").length) {
      var areaData = {
        labels: ["cod", "wlt", "Rzpy"],
        datasets: [{
            data: [codCount, wltCount, rzpCount],
            backgroundColor: [
               "#4B49AC","#FFC100", "#248AFD",
            ],
            borderColor: "rgba(0,0,0,0)"
          }
        ]
      };
      var areaOptions = {
        responsive: true,
        maintainAspectRatio: true,
        segmentShowStroke: false,
        cutoutPercentage: 78,
        elements: {
          arc: {
              borderWidth: 4
          }
        },      
        legend: {
          display: false
        },
        tooltips: {
          enabled: true
        },
        legendCallback: function(chart) { 
          var text = [];
          text.push('<div class="report-chart">');
            text.push('<div class="d-flex justify-content-between mx-4 mx-xl-5 mt-3"><div class="d-flex align-items-center"><div class="mr-3" style="width:20px; height:20px; border-radius: 50%; background-color: ' + chart.data.datasets[0].backgroundColor[0] + '"></div><p class="mb-0">Wallet</p></div>');
            text.push('<p class="mb-0"><%= paymentMethods.wlt ?paymentMethods.wlt: 0  %></p>');
            text.push('</div>');
            text.push('<div class="d-flex justify-content-between mx-4 mx-xl-5 mt-3"><div class="d-flex align-items-center"><div class="mr-3" style="width:20px; height:20px; border-radius: 50%; background-color: ' + chart.data.datasets[0].backgroundColor[1] + '"></div><p class="mb-0">Cash On Delivery</p></div>');
            text.push('<p class="mb-0"><%= paymentMethods.cod ?paymentMethods.cod: 0  %></p>');
            text.push('</div>');
            text.push('<div class="d-flex justify-content-between mx-4 mx-xl-5 mt-3"><div class="d-flex align-items-center"><div class="mr-3" style="width:20px; height:20px; border-radius: 50%; background-color: ' + chart.data.datasets[0].backgroundColor[2] + '"></div><p class="mb-0">Rezorepay</p></div>');
            text.push('<p class="mb-0"><%= paymentMethods.Razorepay ?paymentMethods.Razorepay: 0  %></p>');
            text.push('</div>');
          text.push('</div>');
          return text.join("");
        },
      }
      var northAmericaChartPlugins = {
        beforeDraw: function(chart) {
          var width = chart.chart.width,
              height = chart.chart.height,
              ctx = chart.chart.ctx;
      
          ctx.restore();
          var fontSize = 3.125;
          ctx.font = "500 " + fontSize + "em sans-serif";
          ctx.textBaseline = "middle";
          ctx.fillStyle = "#13381B";
      
          var text = "90",
              textX = Math.round((width - ctx.measureText(text).width) / 2),
              textY = height / 2;
      
          ctx.fillText(text, textX, textY);
          ctx.save();
        }
      }
      var northAmericaChartCanvas = $("#north-america-chart").get(0).getContext("2d");
      var northAmericaChart = new Chart(northAmericaChartCanvas, {
        type: 'doughnut',
        data: areaData,
        options: areaOptions,
        plugins: northAmericaChartPlugins
      });
      document.getElementById('north-america-legend').innerHTML = northAmericaChart.generateLegend();
    }
    </script>