<%- include("../partials/admin/header") %>
<%- include("../partials/admin/side") %>

        <!-- / Menu -->











        
        <!-- Layout container -->
        <div class="layout-page">

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y" style="overflow-x: auto; width: 100%;">
 
              <form action="/admin/order" id="search">
                <div class="row d-flex">
                  <div class="col-10">
                  <!-- Status filter dropdown -->
                  <select name="status" class="form-select">
                   <option value="">All Status</option>
                   <option value="Processing">Processing</option>
                   <option value="Shipped">Shipped</option>
                   <option value="Delivered">Delivered</option>
                   <option value="Cancelled">Cancelled</option>
                  </select>
                  </div>
                  <button type="submit" class="btn btn-primary col-2">Apply Filters</button>
                </div>           
            </form>

              <!-- Basic Bootstrap Table -->
              <div class="card" style="margin-top: 20px;">
                <a href="/admin/return-requests" style="margin-left: 25px; margin-top: 20px;">View Retuen Request</a>
                <h5 class="card-header" style="display: inline;">Orders</h5>

                <div class="table-responsive text-nowrap">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Customer</th>
                        <th>Products <br> name & quantity</th>
                        <th>Address</th>
                        <th>Total</th>
                        <th>Status</th>
                        <th>Payment Option</th>
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                      <%
                         if (orders.length > 0) {
                            for (let i = 0; i < orders.length; i++) {
                              %>
                               <tr>
                                 <td><%= orders[i].user.userName %><br><%= orders[i].user.email %></td>
                                 <td>
                                    <% for ( let j = 0; j < orders[i].products.length; j++ ) { %>
                                      <%= orders[i].products[j].product.product_name %> : <%= orders[i].products[j].quantity %><br>
                                    <% } %>
                                </td>
                                 <td>
                                    <%= orders[i].deliveryAddress.place %>,<br>
                                    <%= orders[i].deliveryAddress.postCode %>,<br>
                                    <%= orders[i].deliveryAddress.post %>,<br>
                                    <%= orders[i].deliveryAddress.state %>
                                 </td>
                                 <td>₹<%= orders[i].totalAmount %></td>
                                 <td>
                                    <% if (orders[i].status === "Cancelled"){ %>
                                        <h6 class="text-danger">Canceled</h6>
                                    <% } else if (orders[i].status === "Delivered"){ %>
                                        <h6 class="text-success">Delivered</h6>
                                    <% } else { %>
                                        <div class="btn-group">
                                            <button type="button"
                                                class="btn btn-danger dropdown-toggle dropdown-toggle-split"
                                                data-toggle="dropdown"
                                                aria-haspopup="true"
                                                aria-expanded="false">
                                                <%= orders[i].status %> 
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item"
                                                    href="/admin/order/action-update?action=Processing&orderId=<%= orders[i]._id %>">Processing</a>
                                                <a class="dropdown-item"
                                                    href="/admin/order/action-update?action=Shipped&orderId=<%= orders[i]._id %>">Shipped</a>
                                                <a class="dropdown-item"
                                                    href="/admin/order/action-update?action=Delivered&orderId=<%= orders[i]._id %>">Delivered</a>
                                                <a class="dropdown-item"
                                                    href="/admin/order-cancel?action=Cancelled&orderId=<%= orders[i]._id %>">Cancel order</a>
                                            </div>
                                        </div>
                                    <%}%>
                                 </td>
                                 <td><%= orders[i].paymentMethod %></td>
                               </tr>
                              <%          
                            }
                         } else {
                           %>
                            <tr>
                              <td colspan="6">Products Not Found</td>
                            </tr>
                           <%
                         }
                      %>
                      <!-- Add more rows as needed -->
                    </tbody>
                  </table>
                </div>
              </div>
              <!--/ Basic Bootstrap Table -->

              <!-- Pagination controls -->
              <div class="pagination" style="margin-top: 15px;">

                  <% for (let i = 1; i <= totalPages; i++) { %>
                    <a href="?page=<%= i %>" class="page-link"><%= i %></a>
                  <% } %>

              </div>



            </div>
            <!-- / Content -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
        <%- include("../partials/admin/footer") %>