
<%- include("../partials/admin/header") %>
<%- include("../partials/admin/side") %>


<div class="col-lg-10 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Products</h4>
        <!-- <p class="card-description">
          Add class <code>.table-striped</code>
        </p> -->
        <div class="form-group">
          <label for="productSearch">Search:</label>
          <input type="text" class="form-control" id="productSearch" placeholder="Search products">
      </div>
        <div class="table-responsive">
          <table id="productTable" class="table table-striped">
            <thead>
              <tr>
                <th>No.</th>
                <th>Image</th>
                <th>Product Name</th>
                <th>Brand </th>
                <th>product Offer</th>
                <th>Category</th>
                <th>Price(MRP)</th>
                <th>Quantity</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <%  products.forEach((product,i)=>{  %>
                   <tr>
                    <td><%= i+1 %></td>
                    <td>
                        <% product.images.forEach(image => { %>
                            <img src="data:<%= image.contentType %>;base64,<%= image.data.toString('base64')%>" alt="<%= product.price %>">  
                       <% }) %>
                    </td>
                    <td><%= product.product_name.substring(0, 30) + '...' %></td>
                    <td><%= product.brand_name %></td>
                   <% if(product.offer){ %>
                    <td> <%=product.offer%></td> 
                   <% }else { %>
                      <td>0</td>
                   <% } %>
                    <td><%= product.category.categoryName%></td>
                    <td><%=product.price%></td>
                    <td><%=product.stock_count%></td>
                   <% if(product.is_delete===true){ %>
                        <td>
                            <label class="text-danger">Deactive</label>
                        </td>
                        <td>
                            <a href="/admin/product/<%= product._id %>/edit" class="btn btn-primary">Edit</a>
                            <a href="/admin/product/acivate/<%= product._id %>" class="btn btn-primary">active</a>
                        </td>
                   <% }else{ %>
                        <td>
                            <label class="text-success">Activate</label>
                        </td>
                        <td>
                            <a href="/admin/product/<%= product._id %>/edit" class="btn btn-primary">Edit</a>
                            <a href="/admin/product/deactive/<%= product._id %>" class="btn btn-danger">Deactivate</a>
                        </td>
                        <% } %>
                   </tr> 
                   <% }) %>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>



  <script>
    $(document).ready(function() {
      // Initialize DataTable with your table's id
      var dataTable = $('#productTable').DataTable();
  
      // Add an event listener for the search input
      $('#productSearch').keyup(function() {
        dataTable.search($(this).val()).draw();
      });
    });
  </script>
  
  
  <%-include("../partials/admin/footer")%>