<%- include("../partials/admin/header") %>
<%- include("../partials/admin/side") %>
      

 <!-- Layout container -->
 <div class="layout-page">

    <!-- Content wrapper -->
    <div class="content-wrapper">
      <!-- Content -->

      <div class="container-xxl flex-grow-1 container-p-y">

          <a href="/admin/order"><button style="margin-top: 20px;" type="button" class="btn btn-primary btn-lg mb-3">Back to order</button></a> 

          <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                
                  <div class="d-flex justify-content-between" style="margin-left: 25px; margin-top: 25px;">
                    <h4 class="card-title">Return Requests</h4>
                  </div>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>
                            User
                          </th>
                          <th>
                            Details
                          </th>
                          <th>
                            Return To
                          </th>
                          <th>
                            Reason and Condition
                          </th>
                          <th>
                            Actions
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <% if (!returnRequests.length) { %>
                        <tr>
                          <td colspan="5">No requests found.</td>
                        </tr>
                        <% } else { %>
                        <% returnRequests.forEach((request)=> { %>
                        <tr>
                          <td>
                            <%= request.user.username %><br>
                            <p class="text-dark">
                              <%= request.user.email %>
                            </p><br>
                            <%= request.user.mobile %>
                          </td>
                          <td>
                            <div>
                              <div class="border-bottom mb-3">
                                <span class="h6 text-uppercase">
                                  <%= request.product?.name %>
                                </span><br>
                                Total price: ₹<%= request.totalPrice %> <br>
                                Quantity: <%= request.quantity %> <br>
                              </div>
                              Requested Date: <%= request.createdAt.toLocaleDateString() %>
                            </div>
                          </td>
                          <td>
                            <%= request.order?.deliveryAddress.post %>,
                            <%= request.order?.deliveryAddress.postCode%>,
                            <%= request.order?.deliveryAddress.district %>,
                            <%= request.order?.deliveryAddress.state %>,<br>
                          
                          </td>
                          <td>
                            <%= request.reason %>,<br>
                            <%= request.condition %>
                          </td>
                          <td>
                            <div class="d-flex justify-content-between">
                              <% if (request.status==="Completed" ) { %>
                              <p class="text-success font-weight-bolder">Completed</p>
                              <% } else { %>
                              <div class="btn-group">
                                  <button type="button"
                                      class="btn btn-danger dropdown-toggle dropdown-toggle-split"
                                      data-toggle="dropdown"
                                      aria-haspopup="true"
                                      aria-expanded="false">
                                      <%= request.status %> 
                                  </button>
                                  <div class="dropdown-menu">
                                      <form action="/admin/return-requests" method="post">
                                          <input type="hidden" name="action" value="approve">
                                          <input type="hidden" name="request" value="<%= request._id %>">
                                          <input type="hidden" name="order" value="<%= request.order._id %>">
                                          <input type="hidden" name="product" value="<%= request.product._id %>">
                                          <button type="submit" class="dropdown-item text-warning">
                                            Approve
                                          </button>
                                      </form>
                                      <form action="/admin/return-requests" method="post" class="ml-1" id="action-form">
                                          <input type="hidden" name="action" value="reject">
                                          <input type="hidden" name="request" value="<%= request._id %>">
                                          <input type="hidden" name="order" value="<%= request.order._id %>">
                                          <input type="hidden" name="product" value="<%= request.product._id %>">
                                          <button type="submit" class="dropdown-item text-danger">
                                            Reject
                                          </button>
                                      </form>
                                      <form action="/admin/return-requests" method="post" class="ml-1" id="action-form">
                                          <input type="hidden" name="action" value="Completed">
                                          <input type="hidden" name="request" value="<%= request._id %>">
                                          <input type="hidden" name="order" value="<%= request.order._id %>">
                                          <input type="hidden" name="product" value="<%= request.product._id %>">
                                          <button type="submit" class="dropdown-item text-success">
                                            Completed
                                          </button>
                                      </form>
                                  </div>
                              </div>
                              <% } %>
                            </div>
                          </td>
                        </tr>
                        <% }) %>
                        <% } %>
                      </tbody>
                    </table>
                  </div>
                
              </div>
          </div>
      </div>
      <!-- / Content -->

      <div class="content-backdrop fade"></div>
    </div>
    <!-- Content wrapper -->
  </div>
  <!-- / Layout page -->






<%-include("../partials/admin/footer")%>