<%- include("../partials/admin/header") %>
<%- include("../partials/admin/side") %>


<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Sales Report</h4>
        <form action="/admin/sales-report?filtered=true" method="post">
          <span class="fw-bold">From</span>
          <input class="m-1" type="date" name="from">
          <span class="fw-bold">To</span>
          <input class="m-1" type="date" name="upto">
  
          <button class="btn btn-outline-primary btn-sm m-1" type="submit">Apply date</button>

        </form>

          <button id="downloadPdfBtn" onclick="exportToPDF()"  class="btn btn-primary">Download PDF</button>


        <form action="/admin/sales-report" method="post">
  
          <div class="row d-flex mt-2 mb-2">
            <!-- Add a new input for order status -->
            <div class="col-md-11">
              <select class="form-select col-10" name="status">
  
                <option value="">Order Status Filter All</option>
                <option value="Processing">Processing</option>
                <option value="Shipped">Shipped</option>
                <option value="Cancelled">Cancelled</option>
                <option value="Delivered">Delivered</option>
                <option value="Returned">Returned</option>
  
                <!-- Add more options as needed -->
              </select>
            </div>
  
            <div class="col-md-1">
              <button class="btn btn-outline-primary btn-sm" style="height: 38px;" type="submit">Apply</button>
            </div>
          </div>
  
        </form>
        <div class="table-responsive">
          <table id="salesReportTable" class="table table-striped">
            <thead>
              <tr>
                <th>
                  User
                </th>
                <th>
                  Delivery Address
                </th>
                <th>
                  Order Details
                </th>
                <th>
                  Order Date
                </th>
              </tr>
            </thead>
            <tbody>
              <% if (!salesReport.length) { %>
              <tr>
                <td colspan="6">
                  No data found.
                </td>
              </tr>
              <% } else { %>
                <%console.log(salesReport)%>
              <% salesReport.forEach((report) => { %>
              <tr class=" border-bottom">
                <td>
                  <%= report.userInfo.userName %><br>
                  <p class="text-dark"><%= report.userInfo.email %></p><br>
                  <%= report.userInfo.phone %>
                </td>
                <td>
                  <%= report.deliveryAddress.state %>,
                  <%= report.deliveryAddress.post %><br>
                  <%= report.deliveryAddress.place %>,
                  Pincode: <%= report.deliveryAddress.postCode %><br>
                  House No.: <%= report.deliveryAddress.houseName %>
                </td>
                <td>
                  <div>
                    <div class="border-bottom mb-3">
                      <span class="text-primary h6 text-uppercase">
                        <%= report.products.productInfo.product_name %>
                      </span><br>
                      Price: <%= report.products.productInfo.price %>,
                      Quantity: <%= report.products.quantity %>
                    </div>
                    <span>
                      <strong>
                        Payment Method: <%= report.paymentMethod %><br>
                        Status:
                        <% if (report.products.isCancelled) { %>
                          Cancelled
                        <% } else if (report.products.returnRequested === "Completed") { %>
                          Returned
                        <% } else { %>
                          <%= report.status %>
                        <% } %>
                      </strong>
                    </span>
                </td>
                <td>
                  Order Confirmed, <%= report.orderDate.toLocaleDateString() %><br>
                  Delivery, <%= report.deliveryDate.toLocaleDateString() %>
                </td>
              </tr>
              <% }) %>
              <% } %>
            </tbody>
          </table>
          <div class="d-flex">
            <div class="col-md-9 col-12 pt-3">
              Total orders done: <%= orderDone %><br>
              <strong>Total Revenue: ₹<%= totalRevenue %></strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.25/jspdf.plugin.autotable.min.js"></script>
  <script>
      function exportToPDF() {
          const { jsPDF } = window.jspdf;
          console.log(jsPDF)
          const doc = new jsPDF();
          console.log("sdddd");
          doc.autoTable({ html: '#salesReportTable' });
          doc.save('sales_report.pdf');
      }
</script>



<%- include("../partials/admin/footer") %>