<%- include("../partials/admin/header") %>
<%- include("../partials/admin/side") %>




<div class="container-xxl flex-grow-1 container-p-y overflow-auto">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Sales Report</h4>
      <form action="/admin/sales-report?filtered=true" method="post" class="mb-3">
        <div class="row">
          <div class="col-md-6 mb-2">
            <span class="fw-bold">From</span>
            <input class="form-control" type="date" name="from">
          </div>
          <div class="col-md-6 mb-2">
            <span class="fw-bold">To</span>
            <input class="form-control" type="date" name="upto">
          </div>
          <div class="col-12 mt-2">
            <button class="btn btn-outline-primary" type="submit">Apply date</button>
            <button id="downloadPdfBtn" onclick="exportToPDF()" class="btn btn-primary ms-2">Download PDF</button>
          </div>
        </div>
      </form>

      <form action="/admin/sales-report" method="post" class="mb-3">
        <div class="row">
          <div class="col-md-8 col-lg-9 mb-2">
            <select class="form-select" name="status">
              <option value="">Order Status Filter All</option>
              <option value="Processing">Processing</option>
              <option value="Shipped">Shipped</option>
              <option value="Cancelled">Cancelled</option>
              <option value="Delivered">Delivered</option>
              <option value="Returned">Returned</option>
              <!-- Add more options as needed -->
            </select>
          </div>
          <div class="col-md-4 col-lg-3 mb-2">
            <button class="btn btn-outline-primary" type="submit">Apply</button>
          </div>
        </div>
      </form>

      <div class="table-responsive">
        <table id="salesReportTable" class="table table-striped">
          <thead>
            <tr>
              <th>User</th>
              <th>Delivery Address</th>
              <th>Order Details</th>
              <th>Order Date</th>
            </tr>
          </thead>
          <tbody>
            <% if (!salesReport.length) { %>
            <tr>
              <td colspan="4">
                No data found.
              </td>
            </tr>
            <% } else { %>
            <% salesReport.forEach((report) => { %>
            <tr class="border-bottom">
              <td>
                <%= report.userInfo.userName %><br>
                <p class="text-dark"><%= report.userInfo.email %></p><br>
                <%= report.userInfo.phone %>
              </td>
              <td>
                <%= report.deliveryAddress.state %>,
                <%= report.deliveryAddress.post %><br>
                <%= report.deliveryAddress.place %>,
                Pincode: <%= report.deliveryAddress.postCode %><br>
                House No.: <%= report.deliveryAddress.houseName %>
              </td>
              <td>
                <div>
                  <div class="border-bottom mb-3">
                    <span class="text-primary h6 text-uppercase">
                      <%= report.products.productInfo.product_name %>
                    </span><br>
                    Price: <%= report.products.productInfo.price %>,
                    Quantity: <%= report.products.quantity %>
                  </div>
                  <span>
                    <strong>
                      Payment Method: <%= report.paymentMethod %><br>
                      Status:
                      <% if (report.products.isCancelled) { %>
                        Cancelled
                      <% } else if (report.products.returnRequested === "Completed") { %>
                        Returned
                      <% } else { %>
                        <%= report.status %>
                      <% } %>
                    </strong>
                  </span>
                </div>
              </td>
              <td>
                Order Confirmed, <%= report.orderDate.toLocaleDateString() %><br>
                Delivery, <%= report.deliveryDate.toLocaleDateString() %>
              </td>
            </tr>
            <% }) %>
            <% } %>
          </tbody>
        </table>
        <div class="d-flex justify-content-between">
          <div class="col-md-9 col-12 pt-3">
            Total orders done: <%= orderDone %><br>
            <strong>Total Revenue: ₹<%= totalRevenue %></strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.25/jspdf.plugin.autotable.min.js"></script>
  <script>
      function exportToPDF() {
          const { jsPDF } = window.jspdf;
          console.log(jsPDF)
          const doc = new jsPDF();
          console.log("sdddd");
          doc.autoTable({ html: '#salesReportTable' });
          doc.save('sales_report.pdf');
      }
</script>





<%-include("../partials/admin/footer")%>