<%- include('../partials/user/header') %>

<section class="bg0 p-t-100 p-b-120 mainSec">
  <div class="container">
    <div class="coupon-container">
        <div class="pt-5 pb-3">
          <span class="text-primary h5 text-uppercase">
            All New Coupons
          </span>
        <% if(!foundCoupon.length){ %>
          <div class="p-4 border mt-2 mb-3">
            No new coupons found.
          </div>
        <% }else { %>
          <div class="mt-2">
           <% foundCoupon.forEach((coupon)=>{ %>
            <div class="card mr-2 mb-3">
              <div class="card-body">
                <h5 class="card-title"></h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    Expires At  <%=coupon.expiryDate.toLocaleDateString()%>
                </h6>
                <p class="card-text">
                    <%= coupon.description %>
                </p>
                <p>
                  Discount Type: <%= coupon.discountType %>
                </p>
                <p>
                    Discount Amount: <%= coupon.discountAmount %>
                </p>
                <p>
                    Min. Purchase Amount: <%= coupon.minimumPurchaseAmount %>
                </p>
                <a href="/shop" class="btn btn-primary">Get Coupon</a>
              </div>
            </div>
            <% }) %>
          </div>
          <% } %>
        </div>

        <div class="pt-5 pb-3">
          <span class="text-primary h5 text-uppercase">
            Coupons Earned
          </span>
          <% if (!earnedCoupons.length) { %>
          <div class="p-4 border mt-2 mb-3">
            You haven't earned any coupons yet.
          </div>
          <% } else { %>
          <div class="mt-2">
            <% earnedCoupons.forEach((coupon)=> { %>
            <div class="p-4 border mb-3">
              <p class="mb-0 text-black">
                <% if (coupon.isUsed) { %>
                Code: Already used.<br>
                <% } else { %>
                Code: <span class="coupon-code">  <%= coupon.coupon.code %>    </span>
                <button class="copy-button btn btn-sm btn-primary">
                  copy
                </button>
                <br>
                <% } %> 
                <% if(coupon.coupon.discountType === "percentage"){ %>
                  Discount Percentage: <%= coupon.coupon.discountAmount %>%,
                  <% }else{ %>
                  Discount Amount:  <%= coupon.coupon.discountAmount %>₹, 
                  <% } %>
                Discount Type:  <%= coupon.coupon.discountType %>,
                Valid Upto: <%= coupon.coupon.expiryDate.toLocaleDateString() %>
              </p>
            </div>
            <% }) %>
          </div>
          <% } %>
        </div>
      </div>
  </div>
</section>

<%- include('../partials/user/footer') %>

<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<script>
  $(".js-select2").each(function() {
    $(this).select2({
      minimumResultsForSearch: 20,
      dropdownParent: $(this).next('.dropDownSelect2')
    });
  })
</script>
<!--===============================================================================================-->
<script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script>
  $('.js-pscroll').each(function() {
    $(this).css('position', 'relative');
    $(this).css('overflow', 'hidden');
    var ps = new PerfectScrollbar(this, {
      wheelSpeed: 1,
      scrollingThreshold: 1000,
      wheelPropagation: false,
    });

    $(window).on('resize', function() {
      ps.update();
    })
  });
</script>
<!--===============================================================================================-->
<script src="js/main.js"></script>

<!-- cart -->
<script>
  function updateCartItem(cartItemId, incOrDec) {
    const data = {
      type: incOrDec
    };
    $.ajax({
      url: '/update-cart/' + cartItemId,
      type: 'POST',
      data: JSON.stringify(data),
      contentType: 'application/json',
      success: function(response) {
        if (response.message !== "Insufficient stock.") {
          $('#totalPrice_' + cartItemId).text(response.totalPrice);
          $('#grandTotalPrice').text(response.grandTotal);
          $('#quantityElement_' + cartItemId).val(response.quantity);
        }
      },
      error: function(xhr, status, error) {
        console.log("uygu", status);
      }
    });
  }
</script>

<script>
    // Get all the "Copy Code" buttons and add a click event listener
    const copyButtons = document.querySelectorAll(".copy-button");
    copyButtons.forEach((button) => {
      button.addEventListener("click", () => {
        const couponCode = button.previousElementSibling.innerText; // Get the coupon code
        const textArea = document.createElement("textarea");
        textArea.value = couponCode;
        document.body.appendChild(textArea);
        textArea.select();
        document.execCommand("copy");
        document.body.removeChild(textArea);
        button.innerText = "Copied!";
        button.disabled = true;
      });
    });
</script>

</body>

</html>