

<%- include('../partials/user/header')%>

<div class="col-12 grid-margin">
    <div class="card mt-5 mb-5">
        <% if(typeof message !=='undefined' ){ %>
            <div class="alert alert-danger " style="font-size :20px">
                <%= message %>
            </div>
        <% } %>
      <div class="card-body">
        <h4 class="card-title">Personal info </h4>
        <form method="post" action="/user/profile/editaddress" class="form-sample">
          <p class="card-description">
            <!-- Personal info -->
          </p>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">

                <input type="hidden" name="addressId" value="<%= address._id %>">

                <label class="col-sm-3 col-form-label">Name</label>
                <div class="col-sm-9">
                  <input type="text" name="name" class="form-control"  value="<%= address.userName %>" required/>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Place</label>
                <div class="col-sm-9">
                  <input type="text" name="place" class="form-control" value="<%= address.place%>" required/>
                </div>
              </div>
            </div>
          </div>
          <div class="row pt-3">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input type="email" name="email" class="form-control" value="<%= address.email %>" required/>

                </div>
              </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Post</label>
                  <div class="col-sm-9">
                      <input type="text" name="post" class="form-control" value="<%= address.post %>" required/>
  
                  </div>
                </div>
              </div>
            <!-- <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Date of Birth</label>
                <div class="col-sm-9">
                  <input class="form-control" placeholder="dd/mm/yyyy"/>
                </div>
              </div>
            </div> -->
          </div>


         

          
          <div class="row pt-3">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Mobile Number</label>
                <div class="col-sm-9">
                  <input type="number" name="mobile" class="form-control" value="<%= address.mobile %>" required/>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">PIN code</label>
                <div class="col-sm-9">
                  <input type="text" name="pincode" class="form-control" value="<%= address.postCode %>" required/>
                </div>
              </div>
            </div>
          </div>
          <div class="row pt-3">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">House Name</label>
                <div class="col-sm-9">
                  <input type="text" name="house" class="form-control" value="<%= address.houseName %>" required/>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">District</label>
                <div class="col-sm-9">
                  <input type="text" name="district" class="form-control" value="<%= address.district %>" required/>
                </div>
              </div>
            </div>
          </div>
          <div class="row pt-3">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">State/Region</label>
                <div class="col-sm-9">
                  <input type="text" name="state" class="form-control" value="<%= address.state %>" required/>
                </div>
              </div>
            </div>
          
          </div>
          <div class="mt-5 d-flex justify-content-center align-items-center">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
        
        </form>
      </div>
    </div>
  </div>


  <%- include('../partials/user/footer')%>