

<%- include('../partials/user/header')%>
	<!-- breadcrumb -->

    <% if(typeof message !=='undefined' ){ %>
        <div class="alert alert-danger " style="font-size :20px">
            <%= message %>
        </div>
        <% } %>

		<div id="err">

		</div>

	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="/" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				Shoping Cart
			</span>
		</div>
	</div>
		

	<!-- Shoping Cart -->
	<form class="bg0 p-t-75 p-b-85">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
					<div class="m-l-25 m-r--38 m-lr-0-xl">
						<div class="wrap-table-shopping-cart">
							<table class="table-shopping-cart">
                                <thead>
								<tr class="table_head">
									<th class="column-1">Product</th>
									<th class="column-2"></th>
									<th class="column-3">Price</th>
									<th class="column-4">Quantity</th>
									<th class="column-5">Total</th>
								</tr>
                            </thead>
                            <tbody>
                                <% cart.forEach(item=>{ %>
								<tr id="<%= item.product._id %>" class="table_row" > 
									<td class="column-1">
										<div class="how-itemcart1">
											<img src="data:<%= item.product.images[0].contentType %>;base64,<%= item.product.images[0].data.toString('base64') %>" alt="IMG">
										</div>
									</td>
									
									<td class="column-2"><%= item.product.product_name%></td>
									<td class="column-3"><%= item.product.price %></td>
									<td class="column-4">
										<div class="wrap-num-product flex-w m-l-auto m-r-0">
											<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m"  onclick="updateCartItem('<%= item.product._id %>', 'decrement')">
												<i class="fs-16 zmdi zmdi-minus"></i>
											</div>

											<input  id="quantityElement_<%= item.product._id %>" class="mtext-104 cl3 txt-center num-product" type="number" name="num-product1" value="<%= item.quantity %>">

											<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m"onclick="updateCartItem('<%= item.product._id %>', 'increment')">
												<i  class="fs-16 zmdi zmdi-plus"></i>
											</div>
										</div>
									</td>
									<td class="column-5" id="totalPrice_<%= item.product._id %>"><%= item.totalAmount %></td>
									<td class="cart__close"><a
										onclick="deleteCart('<%= item.product._id %>')"><i
											class="fa fa-close" style="    font-size: 18px;
											color: #111111;
											height: 40px;
											width: 40px;
											background: #e8e6dc;
											border-radius: 50%;
											line-height: 40px;
											text-align: center;
											margin-right: 26px;
											"></i></a></td>
								</tr>
                                <% }) %>  
                            </tbody>
								
							</table>
						</div>

						<div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
							<!-- <div class="flex-w flex-m m-r-20 m-tb-5">
								<input class="stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5" type="text" name="coupon" placeholder="Coupon Code">
									
								<div class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
									Apply coupon
								</div>
							</div> -->

							<div class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">
								<a href="/shop">Update Cart</a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
					<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
						<h4 class="mtext-109 cl2 p-b-30">
							Cart Totals
						</h4>

						<div class="flex-w flex-t bor12 p-b-13">
							<div class="size-208">
								<span class="stext-110 cl2">
									Subtotal:
								</span>
							</div>

							<div class="size-209">
								<span id="subTotalPrice" class="mtext-110 cl2">
									<%= grandTotal %>
								</span>
							</div>
						</div>

						</div>

						<div class="flex-w flex-t p-t-27 p-b-33">
							<div class="size-208">
								<span class=" cl2" style="margin-left: 67px;">
									Total:
								</span>
							</div>

							<div class="size-209 p-t-1">
								<span id="totalPrice" class="mtext-110 cl2">
									<%= grandTotal %>
								</span>
							</div>
						</div>

						<button class="flex-c-m cl0 bg3 hov-btn3 p-lr-15 pointer" style="height: 36px; width: 212px; margin-left: 124px;">
							<a href="/product/cart/checkout" style="text-decoration: none; color: white;">Proceed to Checkout</a>
						</button>
						
					</div>
				</div>
			</div>
		</div>
	</form>
		

	<script>
		 const alertBox = document.getElementById("alert-box");
  const flashMessage = document.getElementById("flash-message");

		function updateCartItem(cartItemId, incOrDec) {

                        const data = {
                            type: incOrDec
                        };
                    

						fetch(`/update-cart/${cartItemId}`,{method:'POST',body:new URLSearchParams(data)})
						.then(res=>{

							if(res.ok){
								console.log(res);
								
							res.json().then(response=>{


							$('#totalPrice_' + cartItemId).text(response.totalPrice);
                            $('#subTotalPrice').text(response.grandTotal);
                            $('#totalPrice').text( response.grandTotal);
                            $('#quantityElement_' + cartItemId).val(response.quantity);
                          
						
	
								
						})
					    }else{
							flashMessage.textContent = "stock limit exceed";
          flashMessage.style.display = "inline-block";
          alertBox.style.display = "block";
          setTimeout(() => {
            flashMessage.style.display = "none";
            alertBox.style.display = "none";
          }, 2000);
							console.log("ooooooooo");		
						 document.getElementById(`quantityElement_${cartItemId}`).value =  document.getElementById(`quantityElement_${cartItemId}`).value - 1
						}
					})
						
                    }

		  function deleteCart(id) {
                        fetch(`/deletecart/${id}`, { method: "POST" }).then(res => {
                            if (res.status === 200) {
                                console.log("Successfully deleted item from cart");
                                return res.json(); // Parse the response body as JSON
                            } else {
                                console.log('Error deleting item from cart');
                                throw new Error('Failed to delete item from cart');
                            }
                        }).then(response => {
                            console.log(response);
                            document.getElementById(id).remove()
                            // Update the HTML elements with the new grandTotal valu
                            document.getElementById('subTotalPrice').textContent = response.grandTotal.toFixed(2);
                            document.getElementById('totalPrice').textContent = response.grandTotal.toFixed(2);
                //             document.getElementById("err").innerHTML = ` <div class="alert alert-danger " style="font-size :20px">
                // Cart is empty pls add items </div>`

                            if (response.cartLength === 0) {
								window.location.reload()
                            }


                        }).catch(error => {
                            console.error(error);
                        });
                    }
	</script>
    <%- include('../partials/user/footer')%>